
# Configurações
Options -Indexes
Options +FollowSymLinks

# Rewrite
RewriteEngine On

# Basepath
RewriteBase /mylifedash

# Rewrite do slim
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
