body {
	background-image: url("../images/v1016-c-08.jpg"); /* configure image url */
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size:  100% 100%;
}

.card {
	background: rgba(66, 66, 66, 0.5); /* configure opacity */
}